{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "space-unary-ops": [
        2, {
          "words": true,
          "nonwords": false
    }]
  }
}